<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Form</title>




  {{!-- form page --}}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




</head>

<body>

  <form method="post" action="/api/form">
    <p>Name: <input type="text" id="name" name="movie"></p>


    <p>Date: <input type="text" id="datepicker" name="date"></p>
    <input type="submit" value="submit">

  </form>

  <script>


    $(function () {
      $("#datepicker").datepicker();
    });

  </script>
</body>